*.DS_Store
*.Rcheck
Makefile
*.bke
test
test.c

# building
_builds
_install
src/*.so
src/*.o
src/*.dylib

# History files
*.Rhistory
*.RData
*.Rprofile

# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
packrat/lib*/
inst/doc
